* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;

}

.App {
  background-color: #6441A4;
  
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 50px;
}

.Search {
  width: 25%;
}

.Search .SearchBar {
  display: block;
  width: 100%;
  padding: 15px;

  border: none;
  outline: none;

  border-radius: 25px;
  box-shadow: 0px 10px rgba(0, 0, 0, 0.2);

  font-size: 20px;
  transition: 0.4s ease;
}

.Search .SearchBar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.LocationWrapper {
  margin-top: 50px;
}

.Location {
  background-color: #7049b8;
  border-radius: 16px;
  padding: 15px 35px;
  margin: 20px 0;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
  transition: 0.4s ease-in;
}

.Location .LocationInfo {
  color: #FFF;
  font-size: 32px;
  font-weight: 500px;
  text-align: center;
  transition: 0.4s ease-in;
}

.Location .Date {
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  transition: 0.4s ease-in;
}

.Weather {
  background-color: #7049b8;
  border-radius: 16px;
  padding: 15px 35px;
  margin: 20px 0;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
  transition: 0.4s ease-in;
}

.Weather .Temperature {
  margin: 30px auto;
  color: #FFF;
  font-size: 86px;
  text-align: center;
}

.Weather .WeatherInfo {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  
}

.WeatherIcon {
  display: flex;
  justify-content: center;
}